
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif ;
    }


    /* 


    GAME WRAPPER 



    */

    #landing__page{
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: rgb(99,98,203);
     
    }


    #game__wrapper{
        width: 50%;
        min-width: 900px;
        height: 90%;
        background-color: rgb(230,232,244);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

     
    }

    #game__header{
        background-color: rgb(230,232,244)s;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
    
    }

    #game__body--wrapper{
        background-color: rgb(230,232,244);
    }

    #game__body{
        display: grid;
        grid-template-columns: repeat(6, 100px) ;
        grid-template-rows: repeat(6, 100px);
        column-gap: 20px;
        row-gap: 20px;
        padding-bottom: 32px;

    }


    /*


    GAME



    */

    .box{
        background-color: rgb(0,162,226);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ;
        animation: linear 5s ease-in;
    }

    .pointer .box 
    {
        cursor: pointer;
    }

    .green{
        background-color: greenyellow;
    }

    @keyframes background{
        0%{
            background-color: rgb(0,162,226);
        }

        25%{
            background-color: greenyellow;
        }

        50%{
            background-color: greenyellow;
        }

        60%{
            background-color: rgb(0,162,226);
        }

        100%{
            background-color: rgb(0,162,226);
        }
        
    }
