
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif ;
        color: white
    }


    /* 


    GAME WRAPPER 



    */

    #landing__page{
        justify-content: center;
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: rgb(99,98,203);
        
     
    }


    #game__wrapper{
        width: 50%;
        min-width: 900px;
        height: 100%;
        background-color: rgb(50,54,57);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 800px;
        max-height: 900px;
        max-width: 1000px;

     
    }



    .gameover .box,.gameover #game__wrapper{
        visibility: hidden;
        opacity: 0;
        transition: all 2s;
    }

    #game__header{
        background-color: rgb(230,232,244)s;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    
    }

    #lives{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .heart__wrapper{
        position: absolute;
        display: flex;
        top: 30px;
    }

    .heart{
        fill: red;
        width: 20px;
        height: 20px;
    }

    #sec{
        position: absolute;
        display: flex;
        flex-direction: row;
    }

    #game__body--wrapper{
        background-color: rgb(50,54,57);
        position: relative;
        display: flex;
        flex-direction: column;
       
    }

    #game__body{
        
        display: grid;
        grid-template-columns: repeat(6, 100px) ;
        grid-template-rows: repeat(6, 100px);
        column-gap: 20px;
        row-gap: 20px;
        padding-bottom: 32px;
        margin-bottom: 50px;
       
       

    }
    

    #Start__game{
        position: absolute;
        border-radius: 3px;
        font-size: 20px;
        width: 50%;
        color: #FFF;
        text-decoration: none;
        background-color: #2ecc71;
        border: none;
        border-bottom: 5px solid #27ae60;
        text-shadow: 0px -2px #27ae60;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        
    }
     #Start__game:active {
        
        border-bottom: 1px solid #2ecc71;
       }

    .gameover #game__over--screen{
        visibility: visible;
        opacity: 1;
    }

    #game__over--screen{
        position: absolute;
        visibility: visible;
        opacity: 1;
        width: 600px;
        background-color: rgb(50,54,57);
        height: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        transition: all 2s;
        flex-direction: column;
    }

    #stats{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .stats__scores{
        color: rgb(242,225,110);
    }
    
    .retry{
        font-size: 40px;
        display: flex;
        margin-top: 15px;
       
    }

    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
       }
       
       .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #b1dae7;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
       }
       
       .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #1176db;
       }
       
       .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #1176db;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
       }
       
       .cta:hover:before {
        width: 100%;
        background: #b1dae7;
       }
       
       .cta:hover svg {
        transform: translateX(0);
       }
       
       .cta:active {
        transform: scale(0.95);
       }


    /*


    GAME



    */

    .box{
        background-color: rgb(0,162,226);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms ;
        animation: linear 3.5s ease-in;
        pointer-events: none;
    }

    .box:active{
        transform: translateY(10px);
    }

    .pointer .box 
    {
        cursor: pointer;
        pointer-events: all;
    }

    .green{
        background-color: rgb(255, 255, 255);
    }

    @keyframes background{
        0%{
            background-color: rgb(0,162,226);
        }

        25%{
            background-color: rgb(255, 255, 255);
        }

        50%{
            background-color: rgb(255, 255, 255);
        }

        60%{
            background-color: rgb(0,162,226);
        }

        100%{
            background-color: rgb(0,162,226);
        }
        
    }

    .special_number{
        color: rgb(255,0,0);
        animation: fade 500ms;
        position: absolute;
       right: -55px;
       top: 0px;
      
       
    }

    .number{
        color: rgb(255,0,0);
        animation: fade 500ms;
        position: absolute;
        right: -35px;
        top: 0px;
    }


@keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media(max-width: 1024px){
    #game__header{
       
    
        margin-bottom: 0px;
        height: 120px;
       
    }


    #game__body{
        
        display: grid;
        grid-template-columns: repeat(6, 50px) ;
        grid-template-rows: repeat(6, 50px);
        column-gap: 30px;
        row-gap: 30px;
        padding-bottom: 32px;
        margin-bottom: 50px;
        width: 100%;
    }

    #game__wrapper{
        min-width: 0PX;
        min-height: 0PX;
        
        background-color: rgb(50,54,57);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        width: 924px;
        height: 700px;
    }

}




@media(max-width: 870px){
    
    #game__header{
       
        display: grid;
        grid-template-columns: repeat(2, 100px) ;
        grid-template-rows: repeat(2, 70px);
        margin-bottom: 30px;
       
    }

    #game__body{
        display: grid;
        grid-template-columns: repeat(6, 60px) ;
        grid-template-rows: repeat(6, 60px);
        column-gap: 30px;
        row-gap: 30px;
        padding-bottom: 32px;
        margin-bottom: 50px;
        width: 100%;
    }


    
    #game__wrapper{
        min-width: 0PX;
        min-height: 750PX;
        background-color: rgb(50,54,57);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    #game__over--screen{
        min-width: 220px;
        width: 70%;




    }
}
    
    @media(max-width: 414px){

        #game__header{
       
            display: grid;
            grid-template-columns: repeat(2, 100px) ;
            grid-template-rows: repeat(2, 70px);
            margin-bottom: 80px;
           
        }

        
    #game__body{
        
        display: grid;
        grid-template-columns: repeat(6, 55px) ;
        grid-template-rows: repeat(6, 55px);
        column-gap: 10px;
        row-gap: 10px;
        padding-bottom: 32px;
        margin-bottom: 90px;
        width: 100%;
    }

    #game__wrapper{
     height: 100%;
    }

    @media(max-width: 375px){

        #game__body{
        
            display: grid;
            grid-template-columns: repeat(6, 45px) ;
            grid-template-rows: repeat(6, 45px);
            column-gap: 10px;
            row-gap: 10px;
            width: 100%;
            height: 300px;
            
        }

        #game__header{
       
            display: grid;
            grid-template-columns: repeat(2, 100px) ;
            grid-template-rows: repeat(2, 70px);
            margin-bottom: 40px;
        }

        #game__wrapper{
            height: 100%;
           }

           #Start__game{
          padding: 0px;
          margin-top: 0px;
        }

        #game__over--screen{
            opacity: 0;
        }
    
    }


    }